.sr-only,
.blind {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// scroll
.ui-scroll-wrap {
  position: relative;

  .ui-scroll-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
  }
}

.ui-title-section {
  color: #1e2124;
  @include font(titleM);
  font-weight: 700;
  letter-spacing: 1px;
}

.ui-container {
  display: flex;
  width: 156px;
  padding: 24px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.ui-border-box {
  border-radius: 12px;
  border: 1px solid #b1b8be;
  background: #fff;
}

.ui-btn-shortcut {
  display: flex;
  align-items: center;
  padding: 0 2px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);

  color: #1e2124;
  @include font(($subtitle, 17px));
  font-weight: 400;

  &::after {
    display: inline-flex;
    flex-shrink: 0;
    content: "";
    width: 20px;
    height: 20px;
    @include bgi("icon/btn-shortcut.svg");
  }
}

.ui-btn-detail {
  display: flex;
  align-items: center;
  padding: 0 2px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);

  color: #1e2124;

  @include font(($subtitle, 17px));
  font-weight: 400;

  &::after {
    display: inline-flex;
    flex-shrink: 0;
    content: "";
    width: 20px;
    height: 20px;
    @include bgi("icon/btn-more.svg");
  }
}

.ui-btn-arrow-r {
  display: flex;
  align-items: center;
  padding: 0 2px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);

  color: #1e2124;
  @include font(($subtitle, 17px));
  font-weight: 400;

  &::after {
    display: inline-flex;
    flex-shrink: 0;
    content: "";
    width: 20px;
    height: 20px;
    @include bgi("icon/arrow-right.svg");
  }
}

.ui-badge {
  @include flexCenter {
    align-self: stretch;
  }
  height: 24px;
  padding: 0 8px;
  border-radius: 4px;
  background: #ecf2fe;

  color: #0b50d0;
  text-align: center;

  @include font(body);
  font-weight: 400;
}

.ui-deco-none {
  text-decoration: none;
}

[class$="-title"] {
  font-weight: 500;
  letter-spacing: -0.048em;
}
