html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard GOV Black"), url(/assets/fonts/pretendard/PretendardGOV-Black.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard GOV ExtraBold"), url(/assets/fonts/pretendard/PretendardGOV-ExtraBold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard GOV Bold"), url(/assets/fonts/pretendard/PretendardGOV-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard GOV SemiBold"), url(/assets/fonts/pretendard/PretendardGOV-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard GOV Medium"), url(/assets/fonts/pretendard/PretendardGOV-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard GOV Regular"), url(/assets/fonts/pretendard/PretendardGOV-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard GOV Light"), url(/assets/fonts/pretendard/PretendardGOV-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard GOV ExtraLight"), url(/assets/fonts/pretendard/PretendardGOV-ExtraLight.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard GOV Thin"), url(/assets/fonts/pretendard/PretendardGOV-Thin.woff2) format("woff2");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 100;
  src: url(/assets/fonts/notosanskr/NotoSansKR-Thin.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 100;
  src: url(/assets/fonts/notosanskr/NotoSansKR-Thin.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 200;
  src: url(/assets/fonts/notosanskr/NotoSansKR-ExtraLight.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 300;
  src: url(/assets/fonts/notosanskr/NotoSansKR-Light.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: url(/assets/fonts/notosanskr/NotoSansKR-Regular.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 500;
  src: url(/assets/fonts/notosanskr/NotoSansKR-Medium.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 600;
  src: url(/assets/fonts/notosanskr/NotoSansKR-SemiBold.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  src: url(/assets/fonts/notosanskr/NotoSansKR-Bold.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 800;
  src: url(/assets/fonts/notosanskr/NotoSansKR-ExtraBold.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 900;
  src: url(/assets/fonts/notosanskr/NotoSansKR-Black.woff) format(woff);
}
body {
  font-family: "Pretendard GOV";
  font-size: 17px;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.size-exsmall {
  font-size: 10px;
}

.size-small {
  font-size: 12px;
}

.size-bodyXS {
  font-size: 13px;
}

.size-bodyS {
  font-size: 14px;
}

.size-body {
  font-size: 15px;
}

.size-subtitle {
  font-size: 16px;
}

.size-subtitleL {
  font-size: 18px;
}

.size-titleS {
  font-size: 20px;
}

.size-title {
  font-size: 22px;
}

.size-titleM {
  font-size: 24px;
}

.size-titleL {
  font-size: 28px;
}

.size-h3 {
  font-size: 32px;
  font-weight: 700;
  font-weight: 800;
}

.size-h3L {
  font-size: 36px;
}

.size-h2 {
  font-size: 48px;
  font-weight: 800;
}

.size-h1 {
  font-size: 64px;
}

.size-h1S {
  font-size: 54px;
}

.txt-black {
  color: #000;
}

.bgc-black {
  background-color: #000 !important;
}

.txt-black-70 {
  color: rgba(0, 0, 0, 0.7);
}

.bgc-black-70 {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.txt-black-90 {
  color: rgba(0, 0, 0, 0.9);
}

.bgc-black-90 {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.txt-white {
  color: #fff;
}

.bgc-white {
  background-color: #fff !important;
}

.txt-primary {
  color: #003087;
}

.bgc-primary {
  background-color: #003087 !important;
}

.txt-primary-deep {
  color: #002554;
}

.bgc-primary-deep {
  background-color: #002554 !important;
}

.txt-inverted {
  color: #fff;
}

.bgc-inverted {
  background-color: #fff !important;
}

.txt-grey100 {
  color: #f9fafb;
}

.bgc-grey100 {
  background-color: #f9fafb !important;
}

.txt-grey200 {
  color: #f3f4fa;
}

.bgc-grey200 {
  background-color: #f3f4fa !important;
}

.txt-grey300 {
  color: #dfe3e8;
}

.bgc-grey300 {
  background-color: #dfe3e8 !important;
}

.txt-grey400 {
  color: #c4cdd5;
}

.bgc-grey400 {
  background-color: #c4cdd5 !important;
}

.txt-grey500 {
  color: #919eab;
}

.bgc-grey500 {
  background-color: #919eab !important;
}

.txt-grey600 {
  color: #637381;
}

.bgc-grey600 {
  background-color: #637381 !important;
}

.txt-grey700 {
  color: #454f5b;
}

.bgc-grey700 {
  background-color: #454f5b !important;
}

.txt-grey800 {
  color: #212b36;
}

.bgc-grey800 {
  background-color: #212b36 !important;
}

.txt-grey900 {
  color: #161c24;
}

.bgc-grey900 {
  background-color: #161c24 !important;
}

.txt-grey-a {
  color: #aaa;
}

.bgc-grey-a {
  background-color: #aaa !important;
}

.txt-grey-9 {
  color: #999;
}

.bgc-grey-9 {
  background-color: #999 !important;
}

.txt-blue-5 {
  color: #d6e1f5;
}

.bgc-blue-5 {
  background-color: #d6e1f5 !important;
}

.txt-blue-50 {
  color: #416dbd;
}

.bgc-blue-50 {
  background-color: #416dbd !important;
}

.txt-blue1 {
  color: #ddebff;
}

.bgc-blue1 {
  background-color: #ddebff !important;
}

.txt-blue2 {
  color: #a0c1ff;
}

.bgc-blue2 {
  background-color: #a0c1ff !important;
}

.txt-blue3 {
  color: #518be2;
}

.bgc-blue3 {
  background-color: #518be2 !important;
}

.txt-blue4 {
  color: #2963cd;
}

.bgc-blue4 {
  background-color: #2963cd !important;
}

.txt-info {
  color: #5f91fe;
}

.bgc-info {
  background-color: #5f91fe !important;
}

.txt-success {
  color: #27c28a;
}

.bgc-success {
  background-color: #27c28a !important;
}

.txt-red {
  color: #ec0e0e;
}

.bgc-red {
  background-color: #ec0e0e !important;
}

.txt-red-deep {
  color: #cb0d0d;
}

.bgc-red-deep {
  background-color: #cb0d0d !important;
}

.txt-error {
  color: #e65b5b;
}

.bgc-error {
  background-color: #e65b5b !important;
}

.txt-green {
  color: #21a600;
}

.bgc-green {
  background-color: #21a600 !important;
}

.txt-green-light {
  color: #51b901;
}

.bgc-green-light {
  background-color: #51b901 !important;
}

.txt-waning {
  color: #ffab00;
}

.bgc-waning {
  background-color: #ffab00 !important;
}

.txt-orange {
  color: #f27421;
}

.bgc-orange {
  background-color: #f27421 !important;
}

.txt-yellow-deep {
  color: #f0c634;
}

.bgc-yellow-deep {
  background-color: #f0c634 !important;
}

.txt-purple {
  color: #6319db;
}

.bgc-purple {
  background-color: #6319db !important;
}

.txt-light-purple {
  color: #9758ff;
}

.bgc-light-purple {
  background-color: #9758ff !important;
}

.txt-mint {
  color: #27c7dd;
}

.bgc-mint {
  background-color: #27c7dd !important;
}

.txt-pink {
  color: #e248c1;
}

.bgc-pink {
  background-color: #e248c1 !important;
}

.txt-brown {
  color: #a98426;
}

.bgc-brown {
  background-color: #a98426 !important;
}

:root {
  --contents-width: 1200px;
  --black: #000;
  --black-70: rgba(0, 0, 0, 0.7);
  --black-90: rgba(0, 0, 0, 0.9);
  --white: #fff;
  --primary: #003087;
  --primary-deep: #002554;
  --inverted: #fff;
  --grey100: #f9fafb;
  --grey200: #f3f4fa;
  --grey300: #dfe3e8;
  --grey400: #c4cdd5;
  --grey500: #919eab;
  --grey600: #637381;
  --grey700: #454f5b;
  --grey800: #212b36;
  --grey900: #161c24;
  --grey-a: #aaa;
  --grey-9: #999;
  --blue-5: #d6e1f5;
  --blue-50: #416dbd;
  --blue1: #ddebff;
  --blue2: #a0c1ff;
  --blue3: #518be2;
  --blue4: #2963cd;
  --info: #5f91fe;
  --success: #27c28a;
  --red: #ec0e0e;
  --red-deep: #cb0d0d;
  --error: #e65b5b;
  --green: #21a600;
  --green-light: #51b901;
  --waning: #ffab00;
  --orange: #f27421;
  --yellow-deep: #f0c634;
  --purple: #6319db;
  --light-purple: #9758ff;
  --mint: #27c7dd;
  --pink: #e248c1;
  --brown: #a98426;
  --exsmall: 10px;
  --small: 12px;
  --bodyXS: 13px;
  --bodyS: 14px;
  --body: 15px;
  --subtitle: 16px;
  --subtitleL: 18px;
  --titleS: 20px;
  --title: 22px;
  --titleM: 24px;
  --titleL: 28px;
  --h3: 32px;
  --h3L: 36px;
  --h2: 48px;
  --h1: 64px;
  --h1S: 54px;
}

[class*=icons-] {
  transition: background-color 0.3s;
  display: inline-flex;
  width: 24px;
  height: 24px;
  flex: none;
}
[class*=icons-].exsmall {
  width: 14px;
  height: 14px;
}
[class*=icons-].small {
  width: 18px;
  height: 18px;
}
[class*=icons-].mid {
  width: 20px;
  height: 20px;
}
[class*=icons-].large {
  width: 36px;
  height: 36px;
}
[class*=icons-].large2 {
  width: 34px;
  height: 34px;
}
[class*=icons-].transition {
  transition: 0.3s;
}
[class*=icons-].rotate {
  transform: rotate(180deg);
}
[class*=icons-].icons-emergency:not(.bgi, .img) {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url("/assets/images/icon/emergency.svg");
  -webkit-mask-position: center center;
}
[class*=icons-].icons-emergency:not(.bgi, .img):not([class*=bgc-]) {
  background-color: #33363d;
}
[class*=icons-].icons-emergency:not(.bgi, .img):not([class*=bgc-]).hover:hover {
  background-color: var(--primary);
}
[class*=icons-].icons-emergency:not(.bgi, .img):not([class*=bgc-]).active {
  background-color: var(--primary);
}
[class*=icons-].icons-emergency.auto {
  -webkit-mask-size: auto;
}
[class*=icons-].icons-emergency.bgi {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/emergency.svg");
}
[class*=icons-].icons-emergency.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/emergency.png");
  background-position: center center;
}
[class*=icons-].icons-logo:not(.bgi, .img) {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url("/assets/images/icon/logo.svg");
  -webkit-mask-position: center center;
}
[class*=icons-].icons-logo:not(.bgi, .img):not([class*=bgc-]) {
  background-color: #33363d;
}
[class*=icons-].icons-logo:not(.bgi, .img):not([class*=bgc-]).hover:hover {
  background-color: var(--primary);
}
[class*=icons-].icons-logo:not(.bgi, .img):not([class*=bgc-]).active {
  background-color: var(--primary);
}
[class*=icons-].icons-logo.auto {
  -webkit-mask-size: auto;
}
[class*=icons-].icons-logo.bgi {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/logo.svg");
}
[class*=icons-].icons-logo.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/logo.png");
  background-position: center center;
}
[class*=icons-].icons-instagram:not(.bgi, .img) {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url("/assets/images/icon/instagram.svg");
  -webkit-mask-position: center center;
}
[class*=icons-].icons-instagram:not(.bgi, .img):not([class*=bgc-]) {
  background-color: #33363d;
}
[class*=icons-].icons-instagram:not(.bgi, .img):not([class*=bgc-]).hover:hover {
  background-color: var(--primary);
}
[class*=icons-].icons-instagram:not(.bgi, .img):not([class*=bgc-]).active {
  background-color: var(--primary);
}
[class*=icons-].icons-instagram.auto {
  -webkit-mask-size: auto;
}
[class*=icons-].icons-instagram.bgi {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/instagram.svg");
}
[class*=icons-].icons-instagram.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/instagram.png");
  background-position: center center;
}
[class*=icons-].icons-youtube:not(.bgi, .img) {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url("/assets/images/icon/youtube.svg");
  -webkit-mask-position: center center;
}
[class*=icons-].icons-youtube:not(.bgi, .img):not([class*=bgc-]) {
  background-color: #33363d;
}
[class*=icons-].icons-youtube:not(.bgi, .img):not([class*=bgc-]).hover:hover {
  background-color: var(--primary);
}
[class*=icons-].icons-youtube:not(.bgi, .img):not([class*=bgc-]).active {
  background-color: var(--primary);
}
[class*=icons-].icons-youtube.auto {
  -webkit-mask-size: auto;
}
[class*=icons-].icons-youtube.bgi {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/youtube.svg");
}
[class*=icons-].icons-youtube.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/youtube.png");
  background-position: center center;
}
[class*=icons-].icons-twitter:not(.bgi, .img) {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url("/assets/images/icon/twitter.svg");
  -webkit-mask-position: center center;
}
[class*=icons-].icons-twitter:not(.bgi, .img):not([class*=bgc-]) {
  background-color: #33363d;
}
[class*=icons-].icons-twitter:not(.bgi, .img):not([class*=bgc-]).hover:hover {
  background-color: var(--primary);
}
[class*=icons-].icons-twitter:not(.bgi, .img):not([class*=bgc-]).active {
  background-color: var(--primary);
}
[class*=icons-].icons-twitter.auto {
  -webkit-mask-size: auto;
}
[class*=icons-].icons-twitter.bgi {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/twitter.svg");
}
[class*=icons-].icons-twitter.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/twitter.png");
  background-position: center center;
}
[class*=icons-].icons-facebook:not(.bgi, .img) {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url("/assets/images/icon/facebook.svg");
  -webkit-mask-position: center center;
}
[class*=icons-].icons-facebook:not(.bgi, .img):not([class*=bgc-]) {
  background-color: #33363d;
}
[class*=icons-].icons-facebook:not(.bgi, .img):not([class*=bgc-]).hover:hover {
  background-color: var(--primary);
}
[class*=icons-].icons-facebook:not(.bgi, .img):not([class*=bgc-]).active {
  background-color: var(--primary);
}
[class*=icons-].icons-facebook.auto {
  -webkit-mask-size: auto;
}
[class*=icons-].icons-facebook.bgi {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/facebook.svg");
}
[class*=icons-].icons-facebook.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/facebook.png");
  background-position: center center;
}
[class*=icons-].icons-blog:not(.bgi, .img) {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url("/assets/images/icon/blog.svg");
  -webkit-mask-position: center center;
}
[class*=icons-].icons-blog:not(.bgi, .img):not([class*=bgc-]) {
  background-color: #33363d;
}
[class*=icons-].icons-blog:not(.bgi, .img):not([class*=bgc-]).hover:hover {
  background-color: var(--primary);
}
[class*=icons-].icons-blog:not(.bgi, .img):not([class*=bgc-]).active {
  background-color: var(--primary);
}
[class*=icons-].icons-blog.auto {
  -webkit-mask-size: auto;
}
[class*=icons-].icons-blog.bgi {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/blog.svg");
}
[class*=icons-].icons-blog.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/blog.png");
  background-position: center center;
}
[class*=icons-].icons-logo {
  width: 134px;
  height: 32px;
}
@media (min-width: 1024px) {
  [class*=icons-].icons-logo {
    width: 200px;
    height: 48px;
  }
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background-color: blue;
}

.swiper-button-next {
  width: 64px;
  height: 64px;
}
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/swiper-next.svg");
  width: 100%;
  height: 100%;
  font-size: 0;
  flex: none;
}

.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-wrapper {
  display: block;
}

.swiper-initialized .swiper-pagination,
.swiper-initialized .swiper-button-next,
.swiper-initialized .swiper-button-prev {
  display: flex;
}
.swiper-initialized .swiper-wrapper {
  display: flex;
}

.masthead-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  align-self: stretch;
  height: 32px;
  background-color: #eef2f7;
}
.masthead-wrap .nuri-txt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: inline-flex;
  font-size: var(--15px, 15px);
  line-height: 1.5;
  font-weight: 400;
  gap: 8px;
  color: #1e2124;
}
.masthead-wrap .nuri-txt::before {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/taegeukgi.svg");
  display: inline-flex;
  flex-shrink: 0;
  content: "";
  width: 24px;
  height: 24px;
}

.layout-header-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 72px;
  padding: 16px 0;
}
.layout-header-wrap .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 1;
}
.layout-header-wrap .logo-container .gov-logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/logo.svg");
  display: inline-flex;
  flex-shrink: 0;
  content: "";
  width: 134px;
  height: 32px;
}
@media (min-width: 1024px) {
  .layout-header-wrap .logo-container .gov-logo {
    width: 200px;
    height: 48px;
  }
}
.layout-header-wrap .logo-container .nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.layout-header-wrap .logo-container .nav-container button {
  font-size: var(--15px, 15px);
  line-height: 1.5;
  color: #1e2124;
  font-weight: 700;
}
.layout-header-wrap .logo-container .nav-container .nav-search {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  align-items: center;
  height: 56px;
  gap: 4px;
  padding: 4px 12px 0 12px;
  padding-bottom: 0;
}
.layout-header-wrap .logo-container .nav-container .nav-search::before {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/search.svg");
  display: inline-flex;
  flex-shrink: 0;
  content: "";
  width: 24px;
  height: 24px;
}
.layout-header-wrap .logo-container .nav-container .nav-menu {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  align-items: center;
  height: 56px;
  gap: 4px;
  padding: 4px 12px 0 12px;
  padding-bottom: 0;
}
.layout-header-wrap .logo-container .nav-container .nav-menu::before {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/menu.svg");
  display: inline-flex;
  flex-shrink: 0;
  content: "";
  width: 24px;
  height: 24px;
}

.layout-related-site {
  border-top: 1px solid #cdd1d5;
}
.layout-related-site .footer-layout-inner {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  align-items: normal;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
}
@media (min-width: 1024px) {
  .layout-related-site .footer-layout-inner {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}
.layout-related-site .footer-layout-inner .site-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  height: 56px;
  gap: 8px;
  padding: 0 16px;
  color: #1e2124;
  border-top: 1px solid #cdd1d5;
  font-size: var(--16px, 17px);
  line-height: 1.5;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .layout-related-site .footer-layout-inner .site-container {
    flex: 1;
    border-right: 1px solid #cdd1d5;
    border-top: none;
  }
  .layout-related-site .footer-layout-inner .site-container:first-child {
    border-left: 1px solid #cdd1d5;
  }
}
.layout-related-site .footer-layout-inner .site-container:first-child {
  border-top: none;
}
.layout-related-site .footer-layout-inner .site-container::after {
  display: inline-flex;
  flex-shrink: 0;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/btn-more.svg");
}

.layout-footer-content {
  border-top: 1px solid #cdd1d5;
  background: #f4f5f6;
}
.layout-footer-content .content-inner {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  align-items: normal;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  padding: 24px 16px;
  gap: 24px;
}
@media (min-width: 1024px) {
  .layout-footer-content .content-inner {
    margin: 0 auto;
  }
}
.layout-footer-content .content-inner .content-wrap {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
@media (min-width: 769px) {
  .layout-footer-content .content-inner .content-wrap {
    flex-direction: row;
    justify-content: space-between;
  }
}
.layout-footer-content .content-inner .content-wrap .address-wrap {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
.layout-footer-content .content-inner .content-wrap .address-wrap .address-container {
  color: #1e2124;
  /* body/medium */
  font-size: var(--16px, 17px);
  line-height: 1.5;
  font-weight: 400;
}
.layout-footer-content .content-inner .content-wrap .tel-wrap {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.layout-footer-content .content-inner .content-wrap .tel-wrap .tel-container {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .layout-footer-content .content-inner .content-wrap .tel-wrap .tel-container {
    flex-direction: row;
  }
}
.layout-footer-content .content-inner .content-wrap .tel-wrap .tel-container .tel-subject {
  color: #1e2124;
  font-size: var(--16px, 17px);
  line-height: 1.5;
  font-weight: 700;
}
.layout-footer-content .content-inner .content-wrap .tel-wrap .tel-container .tel-desc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.layout-footer-content .content-inner .content-wrap .tel-wrap .tel-container .tel-desc p {
  font-size: var(--16px, 17px);
  line-height: 1.5;
  font-weight: 400;
}
.layout-footer-content .content-inner .content-wrap .tel-wrap .tel-container .divider {
  width: 1px;
  height: 12px;
  background: #6d7882;
}
.layout-footer-content .content-inner .content-wrap .link-wrap {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.layout-footer-content .content-inner .content-wrap .link-wrap .location-wrap {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.layout-footer-content .content-inner .content-wrap .link-wrap .sns-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.layout-footer-content .content-inner .content-wrap .link-wrap .sns-wrap .sns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 8px;
  border-radius: 1000px;
  border: 1px solid #cdd1d5;
  background: rgba(255, 255, 255, 0);
}
.layout-footer-content .layout-footer-copyright {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 20px;
  padding-top: 16px;
  border-top: 1px solid #cdd1d5;
}
@media (min-width: 769px) {
  .layout-footer-content .layout-footer-copyright {
    flex-direction: row;
    justify-content: space-between;
  }
}
.layout-footer-content .layout-footer-copyright .link-copy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
}
.layout-footer-content .layout-footer-copyright .link-copy a {
  color: #1e2124;
  /* label/small */
  font-size: var(--body);
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
}
.layout-footer-content .layout-footer-copyright .link-copy .bold {
  color: #003675;
  font-size: var(--body);
  line-height: 1.5;
  font-weight: 700;
  text-decoration: underline;
}
.layout-footer-content .layout-footer-copyright .copyright-all {
  color: #464c53;
  font-size: var(--bodyXS);
  line-height: 1.5;
  font-weight: 400;
}

.sp-mt-1 {
  margin-top: 1px !important;
}

.sp-mb-1 {
  margin-bottom: 1px !important;
}

.sp-mt-2 {
  margin-top: 2px !important;
}

.sp-mb-2 {
  margin-bottom: 2px !important;
}

.sp-mt-3 {
  margin-top: 3px !important;
}

.sp-mb-3 {
  margin-bottom: 3px !important;
}

.sp-mt-4 {
  margin-top: 4px !important;
}

.sp-mb-4 {
  margin-bottom: 4px !important;
}

.sp-mt-5 {
  margin-top: 5px !important;
}

.sp-mb-5 {
  margin-bottom: 5px !important;
}

.sp-mt-6 {
  margin-top: 6px !important;
}

.sp-mb-6 {
  margin-bottom: 6px !important;
}

.sp-mt-7 {
  margin-top: 7px !important;
}

.sp-mb-7 {
  margin-bottom: 7px !important;
}

.sp-mt-8 {
  margin-top: 8px !important;
}

.sp-mb-8 {
  margin-bottom: 8px !important;
}

.sp-mt-9 {
  margin-top: 9px !important;
}

.sp-mb-9 {
  margin-bottom: 9px !important;
}

.sp-mt-10 {
  margin-top: 10px !important;
}

.sp-mb-10 {
  margin-bottom: 10px !important;
}

.sp-mt-11 {
  margin-top: 11px !important;
}

.sp-mb-11 {
  margin-bottom: 11px !important;
}

.sp-mt-12 {
  margin-top: 12px !important;
}

.sp-mb-12 {
  margin-bottom: 12px !important;
}

.sp-mt-13 {
  margin-top: 13px !important;
}

.sp-mb-13 {
  margin-bottom: 13px !important;
}

.sp-mt-14 {
  margin-top: 14px !important;
}

.sp-mb-14 {
  margin-bottom: 14px !important;
}

.sp-mt-15 {
  margin-top: 15px !important;
}

.sp-mb-15 {
  margin-bottom: 15px !important;
}

.sp-mt-16 {
  margin-top: 16px !important;
}

.sp-mb-16 {
  margin-bottom: 16px !important;
}

.sp-mt-17 {
  margin-top: 17px !important;
}

.sp-mb-17 {
  margin-bottom: 17px !important;
}

.sp-mt-18 {
  margin-top: 18px !important;
}

.sp-mb-18 {
  margin-bottom: 18px !important;
}

.sp-mt-19 {
  margin-top: 19px !important;
}

.sp-mb-19 {
  margin-bottom: 19px !important;
}

.sp-mt-20 {
  margin-top: 20px !important;
}

.sp-mb-20 {
  margin-bottom: 20px !important;
}

.sp-mt-21 {
  margin-top: 21px !important;
}

.sp-mb-21 {
  margin-bottom: 21px !important;
}

.sp-mt-22 {
  margin-top: 22px !important;
}

.sp-mb-22 {
  margin-bottom: 22px !important;
}

.sp-mt-23 {
  margin-top: 23px !important;
}

.sp-mb-23 {
  margin-bottom: 23px !important;
}

.sp-mt-24 {
  margin-top: 24px !important;
}

.sp-mb-24 {
  margin-bottom: 24px !important;
}

.sp-mt-25 {
  margin-top: 25px !important;
}

.sp-mb-25 {
  margin-bottom: 25px !important;
}

.sp-mt-26 {
  margin-top: 26px !important;
}

.sp-mb-26 {
  margin-bottom: 26px !important;
}

.sp-mt-27 {
  margin-top: 27px !important;
}

.sp-mb-27 {
  margin-bottom: 27px !important;
}

.sp-mt-28 {
  margin-top: 28px !important;
}

.sp-mb-28 {
  margin-bottom: 28px !important;
}

.sp-mt-29 {
  margin-top: 29px !important;
}

.sp-mb-29 {
  margin-bottom: 29px !important;
}

.sp-mt-30 {
  margin-top: 30px !important;
}

.sp-mb-30 {
  margin-bottom: 30px !important;
}

.sp-mt-31 {
  margin-top: 31px !important;
}

.sp-mb-31 {
  margin-bottom: 31px !important;
}

.sp-mt-32 {
  margin-top: 32px !important;
}

.sp-mb-32 {
  margin-bottom: 32px !important;
}

.sp-mt-33 {
  margin-top: 33px !important;
}

.sp-mb-33 {
  margin-bottom: 33px !important;
}

.sp-mt-34 {
  margin-top: 34px !important;
}

.sp-mb-34 {
  margin-bottom: 34px !important;
}

.sp-mt-35 {
  margin-top: 35px !important;
}

.sp-mb-35 {
  margin-bottom: 35px !important;
}

.sp-mt-36 {
  margin-top: 36px !important;
}

.sp-mb-36 {
  margin-bottom: 36px !important;
}

.sp-mt-37 {
  margin-top: 37px !important;
}

.sp-mb-37 {
  margin-bottom: 37px !important;
}

.sp-mt-38 {
  margin-top: 38px !important;
}

.sp-mb-38 {
  margin-bottom: 38px !important;
}

.sp-mt-39 {
  margin-top: 39px !important;
}

.sp-mb-39 {
  margin-bottom: 39px !important;
}

.sp-mt-40 {
  margin-top: 40px !important;
}

.sp-mb-40 {
  margin-bottom: 40px !important;
}

.sp-mt-41 {
  margin-top: 41px !important;
}

.sp-mb-41 {
  margin-bottom: 41px !important;
}

.sp-mt-42 {
  margin-top: 42px !important;
}

.sp-mb-42 {
  margin-bottom: 42px !important;
}

.sp-mt-43 {
  margin-top: 43px !important;
}

.sp-mb-43 {
  margin-bottom: 43px !important;
}

.sp-mt-44 {
  margin-top: 44px !important;
}

.sp-mb-44 {
  margin-bottom: 44px !important;
}

.sp-mt-45 {
  margin-top: 45px !important;
}

.sp-mb-45 {
  margin-bottom: 45px !important;
}

.sp-mt-46 {
  margin-top: 46px !important;
}

.sp-mb-46 {
  margin-bottom: 46px !important;
}

.sp-mt-47 {
  margin-top: 47px !important;
}

.sp-mb-47 {
  margin-bottom: 47px !important;
}

.sp-mt-48 {
  margin-top: 48px !important;
}

.sp-mb-48 {
  margin-bottom: 48px !important;
}

.sp-mt-49 {
  margin-top: 49px !important;
}

.sp-mb-49 {
  margin-bottom: 49px !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.flex {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: row;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.flexXCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.flexYCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.flex-none {
  flex: none;
}

.layout-inner {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  align-items: normal;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
@media (min-width: 1024px) {
  .layout-inner {
    margin: 0 auto;
  }
}

.page-main-wrap {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  flex: 1;
  margin-bottom: 50px;
}
.page-main-wrap .main-gap {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
}
@media (min-width: 769px) {
  .page-main-wrap .main-gap {
    gap: 64px;
    padding: 64px 0;
  }
}
.page-main-wrap .main-gap > section {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 24px;
}
.page-main-wrap .main-title-wrap {
  padding: 12px 0;
  border-bottom: 1px solid #b3c2a3;
}
.page-main-wrap .main-title-wrap .main-title {
  font-size: var(--h3);
  line-height: 40px;
  letter-spacing: -0.08em;
  color: #333;
}
.page-main-wrap .main-contents-wrap {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 24px;
}
.page-main-wrap .main-contents-wrap table {
  margin: 30px 0;
  border-top: 1px solid #333;
  border-collapse: separate;
  text-align: center;
}
.page-main-wrap .main-contents-wrap table th,
.page-main-wrap .main-contents-wrap table td {
  font-size: 0.866em;
  border-right: 1px solid #e8e8e8;
}
.page-main-wrap .main-contents-wrap table th:last-child,
.page-main-wrap .main-contents-wrap table td:last-child {
  border-right: 0;
}
.page-main-wrap .main-contents-wrap table th {
  padding: 0.6rem;
  background-color: #f5f7fd;
  border-bottom: 1px solid #d3d8dd;
}
.page-main-wrap .main-contents-wrap table td {
  border-bottom: 1px solid #e8e8e8;
  padding: 0.5rem;
}

.sr-only,
.blind {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.ui-scroll-wrap {
  position: relative;
}
.ui-scroll-wrap .ui-scroll-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: auto;
}

.ui-title-section {
  color: #1e2124;
  font-size: var(--titleM);
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 1px;
}

.ui-container {
  display: flex;
  width: 156px;
  padding: 24px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.ui-border-box {
  border-radius: 12px;
  border: 1px solid #b1b8be;
  background: #fff;
}

.ui-btn-shortcut {
  display: flex;
  align-items: center;
  padding: 0 2px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #1e2124;
  font-size: var(--16px, 17px);
  line-height: 1.5;
  font-weight: 400;
}
.ui-btn-shortcut::after {
  display: inline-flex;
  flex-shrink: 0;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/btn-shortcut.svg");
}

.ui-btn-detail {
  display: flex;
  align-items: center;
  padding: 0 2px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #1e2124;
  font-size: var(--16px, 17px);
  line-height: 1.5;
  font-weight: 400;
}
.ui-btn-detail::after {
  display: inline-flex;
  flex-shrink: 0;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/btn-more.svg");
}

.ui-btn-arrow-r {
  display: flex;
  align-items: center;
  padding: 0 2px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #1e2124;
  font-size: var(--16px, 17px);
  line-height: 1.5;
  font-weight: 400;
}
.ui-btn-arrow-r::after {
  display: inline-flex;
  flex-shrink: 0;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  background-image: url("/assets/images/icon/arrow-right.svg");
}

.ui-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-self: stretch;
  height: 24px;
  padding: 0 8px;
  border-radius: 4px;
  background: #ecf2fe;
  color: #0b50d0;
  text-align: center;
  font-size: var(--body);
  line-height: 1.5;
  font-weight: 400;
}

.ui-deco-none {
  text-decoration: none;
}

[class$=-title] {
  font-weight: 500;
  letter-spacing: -0.048em;
}/*# sourceMappingURL=style.css.map */