.layout-related-site {
  border-top: 1px solid #cdd1d5;

  .footer-layout-inner {
    @include flexColumn {
      align-items: normal;
      justify-content: flex-start;
    }
    width: 100%;
    max-width: 1200px;

    @include pc {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
    }

    @include pc("max") {
    }
    @include tablet {
    }

    .site-container {
      @include flexBetween {
        align-self: stretch;
        align-items: center;
      }
      height: 56px;
      gap: 8px;
      padding: 0 16px;
      color: #1e2124;
      border-top: 1px solid #cdd1d5;
      @include font(($subtitle, 17px));
      font-weight: 400;

      @include pc {
        flex: 1;
        border-right: 1px solid #cdd1d5;
        border-top: none;

        &:first-child {
          border-left: 1px solid #cdd1d5;
        }
      }

      &:first-child {
        border-top: none;
      }

      &::after {
        display: inline-flex;
        flex-shrink: 0;
        content: "";
        width: 20px;
        height: 20px;
        @include bgi("icon/btn-more.svg");
      }
    }
  }
}

.layout-footer-content {
  border-top: 1px solid #cdd1d5;
  background: #f4f5f6;

  .content-inner {
    @include flexColumn {
      align-items: normal;
      justify-content: flex-start;
    }
    width: 100%;
    max-width: 1200px;
    padding: 24px 16px;
    gap: 24px;

    @include pc {
      margin: 0 auto;
    }

    .content-wrap {
      @include flexColumn {
        justify-content: center;
      }
      gap: 24px;

      @include tablet {
        flex-direction: row;
        justify-content: space-between;
      }

      .address-wrap {
        @include flexColumn {
          justify-content: flex-start;
        }
        gap: 16px;

        .address-container {
          color: #1e2124;

          /* body/medium */
          @include font(($subtitle, 17px));
          font-weight: 400;
        }
      }

      .tel-wrap {
        @include flexColumn {
          justify-content: center;
          gap: 8px;
        }

        .tel-container {
          @include flexColumn {
            // gap: 3px;
          }

          @media (min-width: 1024px) {
            flex-direction: row;
            // gap: 8px;
          }

          .tel-subject {
            color: #1e2124;
            @include font(($subtitle, 17px));
            font-weight: 700;
          }

          .tel-desc {
            @include flexYCenter {
            }
            // gap: 8px;
            p {
              @include font(($subtitle, 17px));
              font-weight: 400;
            }
          }

          .divider {
            width: 1px;
            height: 12px;
            background: #6d7882;
          }
        }
      }

      .link-wrap {
        @include flexColumn {
          justify-content: center;
        }
        gap: 24px;

        .location-wrap {
          @include flexColumn {
            justify-content: center;
          }
          gap: 4px;
        }

        .sns-wrap {
          @include flexYCenter {
          }
          gap: 8px;

          .sns-container {
            @include flexCenter {
            }
            padding: 8px;
            border-radius: 1000px;
            border: 1px solid #cdd1d5;
            background: rgba(255, 255, 255, 0);
          }
        }
      }
    }
  }

  .layout-footer-copyright {
    @include flexColumn {
    }
    gap: 20px;
    padding-top: 16px;
    border-top: 1px solid #cdd1d5;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    .link-copy {
      @include flexYCenter {
        display: inline-flex;
        flex-wrap: wrap;
      }
      gap: 8px;

      a {
        color: #1e2124;

        /* label/small */
        @include font(body);
        font-weight: 400;
        text-decoration: none;
      }

      .bold {
        color: #003675;
        @include font(body);
        font-weight: 700;
        text-decoration: underline;
      }
    }
    .copyright-all {
      color: #464c53;
      @include font(bodyXS);
      font-weight: 400;
    }
  }
}
