// layout
$contentsWidth: 1200px;

// image url
$imgurl: "/assets/images/";

// res
$pc: 1024px;
$tablet: 769px;

// components

// font-size
$exsmall: 10px;
$small: 12px;
$bodyXS: 13px;
$bodyS: 14px;
$body: 15px;
$subtitle: 16px;
$subtitleL: 18px;
$titleS: 20px;
$title: 22px;
$titleM: 24px;
$titleL: 28px;
$h3: 32px;
$h3L: 36px;
$h2: 48px;
$h1: 64px;
$h1S: 54px;

$fontSize: (
  "exsmall": $exsmall,
  "small": $small,
  "bodyXS": $bodyXS,
  "bodyS": $bodyS,
  "body": $body,
  "subtitle": $subtitle,
  "subtitleL": $subtitleL,
  "titleS": $titleS,
  "title": $title,
  "titleM": $titleM,
  "titleL": $titleL,
  "h3": $h3,
  "h3L": $h3L,
  "h2": $h2,
  "h1": $h1,
  "h1S": $h1S,
);

@each $semantic, $size in $fontSize {
  .size-#{$semantic} {
    font-size: $size;

    @if ($semantic == "h3") {
      font-weight: 700;
    }
    @if ($semantic == "h2" or $semantic == "h3") {
      font-weight: 800;
    }
  }
}

// genenal
$black: #000;
$black-70: rgba(0, 0, 0, 0.7);
$black-90: rgba(0, 0, 0, 0.9);
$white: #fff;
$primary: #003087;
$primary-deep: #002554;
$inverted: #fff;
$grey100: #f9fafb;
$grey200: #f3f4fa;
$grey300: #dfe3e8;
$grey400: #c4cdd5;
$grey500: #919eab;
$grey600: #637381;
$grey700: #454f5b;
$grey800: #212b36;
$grey900: #161c24;
$grey-a: #aaa;
$grey-9: #999;
$blue-5: #d6e1f5;
$blue-50: #416dbd;
$blue1: #ddebff;
$blue2: #a0c1ff;
$blue3: #518be2;
$blue4: #2963cd;
$info: #5f91fe;
$success: #27c28a;
$red: #ec0e0e;
$red-deep: #cb0d0d;
$error: #e65b5b;
$green: #21a600;
$green-light: #51b901;
$waning: #ffab00;
$yellow-deep: #f0c634;
$orange: #f27421;
$light-purple: #9758ff;
$purple: #6319db;
$mint: #27c7dd;
$pink: #e248c1;
$brown: #a98426;

$colors: (
  "black": $black,
  "black-70": $black-70,
  "black-90": $black-90,
  "white": $white,
  "primary": $primary,
  "primary-deep": $primary-deep,
  "inverted": $inverted,
  "grey100": $grey100,
  "grey200": $grey200,
  "grey300": $grey300,
  "grey400": $grey400,
  "grey500": $grey500,
  "grey600": $grey600,
  "grey700": $grey700,
  "grey800": $grey800,
  "grey900": $grey900,
  "grey-a": $grey-a,
  "grey-9": $grey-9,
  "blue-5": $blue-5,
  "blue-50": $blue-50,
  "blue1": $blue1,
  "blue2": $blue2,
  "blue3": $blue3,
  "blue4": $blue4,
  "info": $info,
  "success": $success,
  "red": $red,
  "red-deep": $red-deep,
  "error": $error,
  "green": $green,
  "green-light": $green-light,
  "waning": $waning,
  "orange": $orange,
  "yellow-deep": $yellow-deep,
  "purple": $purple,
  "light-purple": $light-purple,
  "mint": $mint,
  "pink": $pink,
  "brown": $brown,
);

@each $semantic, $color in $colors {
  .txt-#{$semantic} {
    color: $color;
  }
  .bgc-#{$semantic} {
    background-color: $color !important;
  }
}

:root {
  // contents
  --contents-width: #{$contentsWidth};

  // color
  --black: #{$black};
  --black-70: #{$black-70};
  --black-90: #{$black-90};
  --white: #{$white};
  --primary: #{$primary};
  --primary-deep: #{$primary-deep};
  --inverted: #{$inverted};
  --grey100: #{$grey100};
  --grey200: #{$grey200};
  --grey300: #{$grey300};
  --grey400: #{$grey400};
  --grey500: #{$grey500};
  --grey600: #{$grey600};
  --grey700: #{$grey700};
  --grey800: #{$grey800};
  --grey900: #{$grey900};
  --grey-a: #{$grey-a};
  --grey-9: #{$grey-9};
  --blue-5: #{$blue-5};
  --blue-50: #{$blue-50};
  --blue1: #{$blue1};
  --blue2: #{$blue2};
  --blue3: #{$blue3};
  --blue4: #{$blue4};
  --info: #{$info};
  --success: #{$success};
  --red: #{$red};
  --red-deep: #{$red-deep};
  --error: #{$error};
  --green: #{$green};
  --green-light: #{$green-light};
  --waning: #{$waning};
  --orange: #{$orange};
  --yellow-deep: #{$yellow-deep};
  --purple: #{$purple};
  --light-purple: #{$light-purple};
  --mint: #{$mint};
  --pink: #{$pink};
  --brown: #{$brown};

  // font size
  --exsmall: #{$exsmall};
  --small: #{$small};
  --bodyXS: #{$bodyXS};
  --bodyS: #{$bodyS};
  --body: #{$body};
  --subtitle: #{$subtitle};
  --subtitleL: #{$subtitleL};
  --titleS: #{$titleS};
  --title: #{$title};
  --titleM: #{$titleM};
  --titleL: #{$titleL};
  --h3: #{$h3};
  --h3L: #{$h3L};
  --h2: #{$h2};
  --h1: #{$h1};
  --h1S: #{$h1S};
}
